.barra1 {
    width: 100px;
    height: 40px;
    background-color: green;
}

.barra2 {
    width: 100px;
    height: 40px;
    background-color: red;
}

.barra3 {
    width: 100px;
    height: 40px;
    background-color: blue;
}

.barra1,
.barra2,
.barra3 {
    margin: 10px;
}